
<nav class="navbar navbar-fixed-top">
	<div class="container">

		<div class="site-title">
			<a data-text="tastic3d" href="/">TASTIC<span class="reverse">E</span><span>D</span></a>
		</div>

		<a class="navicon-button"> <div class="navicon"></div> </a>

		<ul class="navbar-nav invisible">
			<li class="nav-item"> <a class="nav-link" href="#services">Services</a> </li>
			<li class="nav-item"> <a class="nav-link" href="#work">Work</a> </li>
			<li class="nav-item"> <a class="nav-link" href="#info">Info</a> </li>
		</ul>

	</div>
</nav>